<div class="panel panel-primary black-card-container">
  <div class="panel-heading">
    <h3 class="panel-title">Current Card</h3>
  </div>
  <div class="panel-body">
    


<% if @card.cardType == "A" %>
	<div class="card white"> <!-- make it a white card -->
<% else %>
	<div class="card black"> <!-- make it a black card -->
<% end %>



 <h3><%= @card.text %></h3>

<% if @card.cardType == "Q" %>
<p>
  <strong>Num answers:</strong>
  <%= @card.numAnswers %>
</p>
<% end %>

</div>

  </div>
</div>

<%= link_to 'Back', cards_path %>
