// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card{
	height: 336px;
	width: 240px;
	border-style: solid;
	border-width: 5px;
	padding: 0px 10px;
	margin: 5px;
	-moz-border-radius-bottomright: 25px;
	border-bottom-right-radius: 25px;
	
	-moz-border-radius-bottomleft: 25px;
	border-bottom-left-radius: 25px;
	
	-moz-border-radius-topleft: 25px;
	border-top-left-radius: 25px;
	
	-moz-border-radius-topright: 25px;
	border-top-right-radius: 25px;
}
.white:hover{
	background-color: #F0EE71;
}

.white{
	background-color: white;
	color: black;
}

.black{
	background-color: black;
	color: white;
}